body {
	text-align: center;
	font-family: helvetica;
}


a {
	color: white;
}

#broadway {
	font-size: 70px;
}

.bold {
	font-weight: bold;	
}

.fontcolour {
	color: white;
}

#heading {
	background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

h4 {
	font-size: 18px;
}

#ourprocess {
	font-size: 32px;
	color: black;
}

h2,#heading {
	font-size: 23px;
}

p {
	font-size: 14px;
}

#copyright {
	font-size: 11px;
	text-align: left;
}

#lastdiv {
	background-color: dimgray;
}

